.srpiter{ background:url("Sin título-5.png") top left no-repeat; }
.divider{ width:41px; height:39px; background-position:-10px -10px; }
.testspriter_r2_c2{ width:1px; height:13px; background-position:-10px -59px; }

